<div class="dual-list">
  <div class="listbox">
    <p>source</p>
    <div class="record-picker">
      <ul
        [ngStyle]="{ 'max-height': height, 'min-height': height }"
        [ngClass]="{ over: available.dragOver }"
        (drop)="dropCDK($event, confirmed, 'source')"
        (dragover)="allowDrop($event, available)"
        (dragleave)="dragLeave()"
      >
        <li
          *ngFor="let item of available.sift; let idx = index"
          (click)="
            selectItem(available.pick, item);
            shiftClick($event, idx, available, item)
          "
          [ngClass]="{ selected: isItemSelected(available.pick, item) }"
          draggable="true"
          (dragstart)="drag($event, item, available)"
          (dragend)="dragEnd(available)"
        >
          <label>{{ item._name }}</label>
        </li>
      </ul>
    </div>
  </div>

  <div class="buttonbox">
    <button
      type="button"
      class="btn-block"
      (click)="moveItem(available, confirmed)"
      [disabled]="available.pick.length === 0"
    >
      &#8250;
    </button>
    <!-- <button type="button" class="btn-block" (click)="moveAll()"
        [disabled]="isAllSelected(available)">&#187;</button> -->
    <button
      type="button"
      class="btn-block"
      (click)="moveItem(confirmed, available)"
      [disabled]="confirmed.pick.length === 0"
    >
      &#8249;
    </button>
    <!-- <button type="button" class="btn-block" (click)="removeAll()"
      [disabled]="isAllSelected(confirmed)">&#171;</button> -->
  </div>

  <div class="listbox">
    <p>target</p>
    <div class="record-picker">
      <ul
        [ngStyle]="{ 'max-height': height, 'min-height': height }"
        [ngClass]="{ over: confirmed.dragOver }"
        (drop)="dropCDK($event, available, 'target')"
        (dragover)="allowDrop($event, confirmed)"
        (dragleave)="dragLeave()"
      >
        <li
          *ngFor="let item of confirmed.sift; let idx = index"
          (click)="
            selectItem(confirmed.pick, item);
            shiftClick($event, idx, confirmed, item)
          "
          [ngClass]="{ selected: isItemSelected(confirmed.pick, item) }"
          draggable="true"
          (dragstart)="drag($event, item, confirmed)"
          (dragend)="dragEnd(confirmed)"
        >
          <label>{{ item._name }}</label>
        </li>
      </ul>
    </div>
  </div>
</div>
